* {
    margin:0; 
    padding:0; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    background:#f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: crimson;
    cursor: pointer;
}


.container {
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-bottom: 1rem;
}

.sobre-mim {
    display: flex;
    align-items: flex;
    gap: 1rem;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
}

.sobre-informacoes {
    flex:1;
}

.sobre-informacoes h2 {
    margin-bottom: 0.5rem;
}

.sobre-informacoes p {
    font-size: 1rem;
    color: #555;
}

.cards {
    display: block; /* cada card fica em uma linha */
    gap: 1rem; /* espaço entre os cards */
}

.card {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
    border-radius: 8px;
    padding: 1rem;
    width: 100%; /* ocupa toda a largura do container */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 1rem; /* espaço entre os cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.hobby i{
    font-size: 2rem;
    color: crimson;
}