
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif Static", "sans-serif";
    background: #fadaec;
    color: #f0edef;
    line-height: 1.5;
    font-size: 0.9rem;
    text-align: center;
}

h1 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-family: "Playfair Display SC";
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

#valor {
    font-size: 6rem;
    font-weight: bold;
    font-family: "Roboto Mono";
}

.botao {
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    padding: 0.4rem 0.75rem;
    display: inline-block;
    font-size: 0.875rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
}

.botao:hover {
    color: #e10786;
    background: #f8f7f7;
}

