* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw; 
    height: 100vh;
    background-color: rgb(176, 228, 248);

    display: flex;
    gap: 10px;
    /* flex-direction: column; */

    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    background-color: rgb(123, 210, 245);
}

