* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
  
header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(244, 249, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

header h1 {
    color: rgb(150, 128, 7);
}

main {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  gap: 20px;
  padding: 20px;
}

main .box {
    width: 350px;
    height: 130px;
    background-color:rgb(244, 249, 183);
    border-radius: 10px;
    padding: 20px;
}

main .box .info h2 {
    color: rgb(150, 128, 7);
    display: flex;
    justify-content: center;
}

main .box .info p {
    margin: 4px;
    font-style: oblique;
}

