* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main {
  margin: 0;
  padding: 0;
  background: #989595;
  font-family: "Poppins", Arial, sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
}

header {
  background: url("Capa.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

nav {
  position: absolute;
  bottom: 160px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

nav ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  padding: 14px 35px;
  border-radius: 40px;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

nav ul li:nth-child(1) a {
  background-color: #ff92b0; 
  box-shadow: 0 0 20px #ffb6c1;
}

nav ul li:nth-child(2) a {
  background-color: #7cd4a1;
  box-shadow: 0 0 20px #a4e0b7;
}

nav ul li:nth-child(3) a {
  background-color: #f4e96c;
  color: #333;
  box-shadow: 0 0 20px #fff59d;
}

nav ul li a:hover {
  transform: scale(1.12);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
  filter: brightness(1.1);
}
